    <header>
        <div class="row">
            <div class="col-md-7">
                <img src="assets/images/logo.png">
            </div>
            <div class="col-md-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </header>
    <section>
        <div class="bannerImg"></div>
    </section>
    <section>
        <div class="row">
        <div class="col-md-4 text-center service">
            <img src="assets/images/icon1.png">
            <h4>EMERGENCY</h4>
            <p>Lorem ipsum dolor sit </p>
        </div>
        <div class="col-md-4 text-center service">
            <img src="assets/images/icon2.png">
            <h4>EMERGDOCTOR’S TIMELINEENCY</h4>
            <p>Lorem ipsum dolor sit </p>
        </div>
        <div class="col-md-4 text-center service">
            <img src="assets/images/icon3.png">
            <h4>OPERATING HOURS</h4>
            <p>Lorem ipsum dolor sit </p>
        </div>
    </div>
    </section>

<!--dfdsdfdfdf-->