<div class="row view-patient">
  <div class="col-sm-12 col-md-12 col-xl-12 text-xs-center">
    <div class="card">
      <!--<ng4-spinner *ngIf="editsharedQueueSpinner && getFaxNumberSpinner">
        <div class="label-permission-loader">
          <div class="dept-loader-icon">
            <img src="assets/images/Loader - GIF.gif" alt="Loader" />
          </div>
        </div>
      </ng4-spinner>-->
      <!-- Large modal -->
      <div class="card-body" id="view-patient-dialog">
        <div class="border-bottom-1px-e8e8e8">
          <div class="modal-header-popup">
            <div class="row">
              <div class="text-center col-md-12">
                <h3>View Patient</h3>
              </div>
            </div>
          </div>
          <div class="modal-body-content border-top-1px-e8e8e8">
            <div class="margin-top-3vh">
              <form>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>First Name:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.FirstName}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Last Name:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.LastName}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Gender:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.Gender}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Date Of Birth:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.DateOfBirth}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Health Card Number:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.HealthCardNumber}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Health Card Version Code:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.HealthCardVersionCode}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Health Card Province:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.HealthCardProvince}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Health Card Expiry Date:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.HealthCardExpiryDate}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Chart Number:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.ChartNumber}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Preferred Official Language:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.PreferredOfficialLanguage}}</span>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <label class="col-sm-6 col-form-label"><b>Primary Physician:</b></label>
                  <div class="col-sm-6">
                    <span>{{getViewPatientData.PrimaryPhysician}}</span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer-buttons">
          <button type="button" (click)="closePopup()" class="cancel-btn cusor-pointer" id="view-patient-cancel">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="row view-patient">
  <div class="col-sm-12 col-md-12 col-xl-12 text-xs-center">
    <div class="card">
      &lt;!&ndash;<ng4-spinner *ngIf="editsharedQueueSpinner && getFaxNumberSpinner">
        <div class="label-permission-loader">
          <div class="dept-loader-icon">
            <img src="assets/images/Loader - GIF.gif" alt="Loader" />
          </div>
        </div>
      </ng4-spinner>&ndash;&gt;
      &lt;!&ndash; Large modal &ndash;&gt;
      <div class="card-body" id="view-patient-dialog">
        <div class="border-bottom-1px-e8e8e8">
          <div class="modal-header-popup">
            <div class="row">
              <div class="text-center col-md-12">
                <div class=""><h3 class="text-center">View Patient</h3></div>
              </div>
            </div>
          </div>
          <div class="modal-body-content border-top-1px-e8e8e8">
            <div class="margin-top-1vh">
              <form>
                <div class="form-group form-group-bottom row">
                  <div class="col-sm-6">
                    <label for="FirstName" class="col-form-label"><b>First Name:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.FirstName" class="form-control" name="FirstName" id="FirstName" maxlength='32'>
                  </div>
                  <div class="col-sm-6">
                    <label for="LastName" class="col-form-label"><b>Last Name:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.LastName" class="form-control" name="LastName" id="LastName" maxlength='32'>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <div class="col-sm-6">
                    <label for="Gender" class="col-form-label"><b>Gender:</b></label>
                    <select disabled class="form-control custom-select mr-sm-2" id="Gender">
                      <option>Choose Gender</option>
                      <option selected value="1">Male</option>
                      <option value="2">Female</option>
                    </select>
                  </div>
                  <div class="col-sm-6">
                    <label for="HealthCardNumber" class="col-form-label"><b>Health Card Number:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.HealthCardNumber" class="form-control" name="HealthCardNumber" id="HealthCardNumber" maxlength='32'>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <div class="col-sm-6">
                    <label for="HealthCardVersionCode" class="col-form-label"><b>Health Card Version Code:</b></label>
                    <input type="text" [(ngModel)]="getViewPatientData.HealthCardVersionCode" class="form-control" name="HealthCardVersionCode" id="HealthCardVersionCode" maxlength='32'>
                  </div>
                  <div class="col-sm-6">
                    <label for="HealthCardProvince" class="col-form-label"><b>Health Card Province:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.HealthCardProvince" class="form-control" name="HealthCardProvince" id="HealthCardProvince" maxlength='32'>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <div class="col-sm-6">
                    <label for="HealthCardExpiryDate" class="col-form-label"><b>Health Card Expiry Date:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.HealthCardExpiryDate" class="form-control" name="HealthCardExpiryDate" id="HealthCardExpiryDate" maxlength='32'>
                  </div>
                  <div class="col-sm-6">
                    <label for="ChartNumber" class="col-form-label"><b>Chart Number:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.ChartNumber" class="form-control" name="ChartNumber" id="ChartNumber" maxlength='32'>
                  </div>
                </div>
                <div class="form-group form-group-bottom row">
                  <div class="col-sm-6">
                    <label for="PreferredOfficialLanguage" class="col-form-label"><b>Preferred Official Language:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.PreferredOfficialLanguage" class="form-control" name="PreferredOfficialLanguage" id="PreferredOfficialLanguage" maxlength='32'>
                  </div>
                  <div class="col-sm-6">
                    <label for="PrimaryPhysician" class="col-form-label"><b>Primary Physician:</b></label>
                    <input type="text" disabled [(ngModel)]="getViewPatientData.PrimaryPhysician" class="form-control" name="PrimaryPhysician" id="PrimaryPhysician" maxlength='32'>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="modal-footer-buttons margin-top-3vh">
          &lt;!&ndash;<button type="button" class="save-btn cusor-pointer" (click)="updatePatientDetails()" id="patient-update">Save</button>&ndash;&gt;
          <button type="button" (click)="closePopup()" class="cancel-btn cusor-pointer" id="patient-cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>-->







